body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: #e2b4c1;
    font-family: 'Times New Roman', Times, serif;
}
h1 {
    color:black
}