body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: #9e182b;
    font-family: 'Times New Roman', Times, serif;
}
h1 {
    color: black;
  display: inline-block;        /* keep bubble wrapped around the text */
  padding: 10px 20px;           /* space inside bubble */
  border: 2px solid black;      /* outline of the bubble */
  border-radius: 20px;          /* rounded corners */
  background-color: lightblue;  /* bubble background */
  font-family: Arial, sans-serif;
  font-size: 2.5rem;            /* makes text bigger */
}
